<%= form_for @provider do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <small class="text-muted">You can enter an address or IP. Your IP is <%= request.ip %></small><br>
    <%= f.label :address, 'Address' %>
    <%= f.text_field :address, class: "form-control", value: request.ip %>
  </div>
  <br>
  <%= f.submit 'Add!', class: 'btn btn-primary' %>
<% end %>