<!DOCTYPE html>
<html>
  <head>
    <title>Mapper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div id="get_healthy">
          <h2>Get Healthy!</h2>
        </div>
      <nav class="navbar">
        <div id="links">
        <%= link_to "Home" , root_path %> | <% if current_user %> <%= link_to "Logout", logout_path %> <% else %>
        <%= link_to "Sign Up", users_path %> | <%= link_to "Login", login_path %> <% end %>
        </div>
      </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
